.HomeBanner__slider {
   width: 100%;
   height: 450px;
   position: relative;
}

.homeBanner__img{
   background-image: url("../../../Assets//Covers/homebanner_slider.png");
   background-size:cover;
   background-repeat: no-repeat;
   height: 600px;
}

.homeBanner__content {
   height: 600px;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1 {
   font-size: 40px;
}

.homeBanner__content > *:not(.homeBanner__content a) {
   margin: 5px;
}

.homeBanner__content a {
   margin-top: 7em;
   text-decoration: none;
   border: 1px #E08F33 solid;
   padding: 12px 35px;
   border-radius: 50px;
   color: #fff;
}

.homeBanner__content a:hover {
   background-color: #E08F33;
   transition: .2s ease-in-out;
}